<h1>All Rocking Bands</h1>
<ul>
<% @bands.each do |band| %>
  <li>
    <a href="<%= band_url(band) %>"><%= band.name %></a>
    <%= button_to "Delete", band_url(band), method: :delete %>
  </li>
<% end %>
</ul>
